<h2 class="title">Detalle</h2>
<div class="container details-container">
    <div class="row details">
        <div class="col-12">
            <div class="row">
                <div class="col-12 content">
                    <h2><span>Nombre:</span> {{(alumn | async)?.name}}</h2>
                    <h2><span>Apellido:</span> {{(alumn | async)?.lastName}}</h2>
                </div>
                <div class="col-12 content">
                    <h2><span>Email:</span> {{(alumn | async)?.email}}</h2>
                    <h2><span>DNI:</span> {{(alumn | async)?.dni}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>