<mat-drawer-container class="example-container main-content-container" autosize>
  <mat-drawer #drawer class="example-sidenav cointainer-fluid" mode="over">
    <mat-nav-list>
      <mat-list-item role="listitem" routerLink="home"><a>Inicio</a></mat-list-item>
      <div [hidden]="(userRole$ | async) !== 'admin'">
        <mat-list-item  role="listitem" routerLink="users"><a>Usuarios</a></mat-list-item>
      </div>
      <mat-list-item role="listitem" routerLink="enrollments"><a>Inscripciones</a></mat-list-item>
      <mat-list-item role="listitem" routerLink="alumns"><a>Alumnos</a></mat-list-item>
      <mat-list-item role="listitem" routerLink="courses"><a>Cursos</a></mat-list-item>
      <mat-list-item (click)="logOut()" role="listitem" routerLink="auth"><a>Cerrar Sesión</a></mat-list-item>
    </mat-nav-list>    
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestor de cursos</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
